node_modules/
koyeb.yaml
env/
.vscode/
./.cache/*
.puppeteerrc.cjs
.nvmrc
chrome.json
dockerfile.txt
/logs/*.log
nginx.conf
./templates/example.html
./templates/footer.html
./templates/index.ejs
./templates/index2.html
./static/css/styles.css
esconder/
package-lock.json
postinstall.js
README.md
change_permissions.sh
my_cron_job.cron
chrome.sh
docker-compose.yaml
