blinker==1.6.2
click==8.1.7
colorama==0.4.6
Flask==2.3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
Werkzeug==2.3.7


# python -m pip install --upgrade pip && python -m pip install -U Flask && python -m pip install -U blinker==1.6.2 && python -m pip install -U click==8.1.7 && python -m pip install -U colorama==0.4.6 && python -m pip install -U itsdangerous==2.1.2 && python -m pip install -U Jinja2==3.1.2 && python -m pip install MarkupSafe==2.1.3 && && python -m pip install Werkzeug==2.3.7 python process_form.py