<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title> <!-- El título se sustituirá por el valor de 'title' -->
</head>

<body>
    <h1>Bienvenido a <%= title %>
    </h1>
    <!-- Otro contenido HTML o EJS según sea necesario -->
</body>

</html>